*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --font-family-sora: 'Sora', sans-serif;
  --font-family-mono: 'Roboto Mono', monospace;
  --font-family-flex: 'Roboto Flex', sans-serif;

  --display-large: bolder 72px/130% var(--font-family-sora);
  --display-medium: bolder 40px/130% var(--font-family-sora);
  --display-small: bold 32px/130% var(--font-family-sora);

  --overline: bolder 16px/150% var(--font-family-mono);

  --paragraph-large: 400 16px/150% var(--font-family-flex);  
  --paragraph-medium: 400 14px/150% var(--font-family-flex); 
  --paragraph-small: 400 12px/150% var(--font-family-flex); 
  --label-medium: bold 20px/150% var(--font-family-flex); 
  --label-small: bold 16px/150% var(--font-family-flex);

  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;

  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0A9;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
  --gradient-background: #D586E0 0%, #91A1FA 98.93%;
  --gradient-content:#C7C9CC 0%, #3D3D3D 100%;
}

body {
    background-image: url(./img/background.png);
    background-color: var(--background-primary);
    color: var(--content-primary);
    font: var(--paragraph-large);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 44px 35px;
}

.logo img {
  width: 38px;
  height: 38px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 46px;
  font: bolder 24px/130% var(--font-family-sora);
}

.desktop-only {
  display: none;
}

section.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 42px;

  & h3 {
    font: var(--overline);
    background: linear-gradient(90deg, var(--gradient-content));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-bottom: .5rem;
  }

  & h1 {
    font: var(--display-medium);
  }
}

.mobile-only{
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 80px;


  & .text {
    display: flex;
    flex-direction: column;
    padding-left: 28px;
    position: relative;

    & h4{
      font: var(--paragraph-medium);
      color: var(--content-brand);
    }

    & p{
      font: var(--paragraph-small);
      color: var(--content-secondary);
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
    }
  } 
}

aside .first {
  display: flex;
  flex-direction: column;
  gap: 40px;

  & header {
    display: flex;
    flex-direction: column;
    gap: 2px;

    & h2 {
      font: var(--label-medium);
      color: var(--content-primary);
    }

    & p {
      font: var(--paragraph-medium);
      color: var(--content-tertiary);
    }
  }

  & #drawer{
      display: flex;
      flex-direction: column;

      & .numbers {
        display: flex;
        gap: 12px;
        margin-bottom: 20px;
      }
    
      & .box{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      width: 100%;
      position: relative;


      & label{
        font: var(--label-medium);
        color: #C7C9CC;

        &:focus{
          color: var(--background-brand);
        }
      }

      & input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      & .input-wrapper {
        position: relative;
        width: 100%;
        border-radius: 8px;
      }

      /* Borda gradiente */
      & .input-wrapper::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 2px;
        border-radius: inherit;

        background: linear-gradient(135deg,var(--gradient-border));

        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        opacity: 0;
        transition: opacity 0.25s ease;
        pointer-events: none;
        z-index: 0;
      }

      & .input-wrapper:focus-within::before {
        opacity: 1;
        z-index: 2;
      }

      & input[type="number"]{
        width: 100%;
        padding: 12px 12px;
        border-radius: 8px;
        border: none;
        outline: none;
        background-color: var(--background-secondary);
        font: var(--display-small);
        color: var(--content-primary);
        text-align: center;
        position: relative;
        z-index: 1;
        caret-color: var(--content-primary);
      }
    }

    & .box label {
      font: var(--label-medium);
      color: #C7C9CC;
      transition: color 0.2s ease;
    }

    & .box:focus-within label {
      color: var(--background-brand);
    }

    & .switch{
      display: inline-flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      user-select: none;

      & input {
        display: none;
      }

      & .slider {
        position: relative;
        width: 30px;
        height: 20px;
        background: var(--background-tertiary);
        border-radius: 999px;
        transition: background 0.3s ease-in-out;
      }

      & .slider::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 14px;
        height: 14px;
        background: #fff;
        border-radius: 50%;
        transition: left 0.3s ease, right 0.3s ease;
      }

       & input:checked + .slider {
        background: linear-gradient(90deg, #D586E0 0%, #91A1FA 98.93%);
      }

      & input:checked + .slider::before {
        left: calc(100% - 14px - 3px);
        right: 3px;
      }

      & .text {
        font-size: 12px;
        line-height: 1.5;
        color: var(--content-primary);
        font-family: var(--font-family-sora);
      }
    }
  }

  & #draw{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background-color: rgba(36, 34, 46, 0.8);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 0;
    position: relative;

    & p{
      font: var(--label-medium);
      color: var(--content-primary);
    }    

    & img {
      width: 24px;
      height: 24px;

      transition: transform 0.3s ease-in-out;
    }

    &:hover{
      background-color: var(--background-secondary);
    }

    &:hover img {
      animation: arrow-move 1.5s ease-in-out infinite;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1.6px;
      border-radius: inherit;

      background: linear-gradient(var(--gradient-border));

      background-size: 300% 300%;

      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;

      animation: gradient-move 1.5s linear infinite;
      animation-play-state: paused; 

      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;      
    }

    & > * {
      position: relative;
      z-index: 1;
    }

    &:hover::before {
      opacity: 1;
      animation-play-state: running;
    }
  }
}

aside .second {
  display: none;
  flex-direction: column;
  gap: 24px;
}

@media (width >= 80em) {
  main {
    padding: 76px 134px;
  }

  .logo{
    margin-bottom: 89px;
  }

  .desktop-only {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 38px;
    max-width: 366px;

    & .text {
      display: flex;
      flex-direction: column;
      padding-left: 28px;
      position: relative;

      & h4{
        font: var(--paragraph-medium);
        color: var(--content-brand);
      }

      & p{
        font: var(--paragraph-small);
        color: var(--content-secondary);
      }

      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
      }
    } 
  }

  main div.explaining.mobile-only {
    display: none;
  }

  h3{
    padding-bottom: 12px;
  }

  h1{
    font: var(--display-large) ;
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 108px;
  }

  aside .first {
    & header {
      & p {
        font: var(--paragraph-large);
        color: var(--content-secondary);
      }
  }
  }
}

@keyframes arrow-move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
